/*body*/
body{
    color:#000;
    font-family: "Arial", sans-serif!important;
    background-color:#f1f1f1!important;
}
input{
    transition:width 0.4s ease-in-out;
    padding:8px;display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:80%
}

/* Inicio do css da navbar*/
.navbar-top {
    overflow: hidden;
    background-color: #333;
}

/*Css para a side bar View->sidebar.blade.php*/
.divSidebar{
    width:20%;
    height: 100vh;/*tamanho da janela*/
    float:left;
    background-color:#071e3d;
    margin-right:3%;
    color:white;
}
.containerViewProducts{
    width:75%;
    float:left;
}

.tableSideBar tr{
    width:100vh;

}


/*form products*/
.divPreForm{
    width: 100%;
    background-color:#071e3d;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

}

#formAddProduct {
    min-height: 80px;
    width:100%;
    margin-left:20px;

}

#formAddProduct .divColumnAddProduct{
    width:13%;
    float:left;
    padding:1% 2% 1% 0;
    color:white;
}

.btnGeral{
    display:block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;

    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color:#1f4287;
    margin-top:7%;

    margin:auto;

    }

    .btnGeral:hover {
    color:#FFFFFF;
    background-color:#375ca7;
}

.divSelectGeral{
    background-color: white;
    height:30px;
}
#inProductPrice{
    height:20px;
}



/*Fim do formulario de produtos*/

/*Pagina detalhes do produto*/

.containerViewProducts .divImgProduct{
    width: 350px;
    height: 300px;
    float: left;
}
.containerViewProducts .divImgProduct img{
    width: 100%;
    height: 100%;
}
.containerViewProducts .divProductInfo{
    float: left;
    width: 60%;
    margin-left: 2%;
}
#prodInfo{
    color:#1d60b8;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

/*Fim da página detalhes do produto*/


/*create new sale*/

.divNewSale{
    width: 30%;
    float: left;
    border: solid 4px #1f4287;
    border-radius: 10px;
    margin-right: 5px;
}
.divNewSale .withBorder{
    padding: 1px 7px 1px 7px;
    margin-right:3px;
    margin-left:10px;
    border-bottom: solid 1px #1f4287;
    font-weight: bold;

}
.divNewSale .goBottom{
    position: relative;
    top:20vh;
}
.divNewSale .dataSales{
    padding: 1px 7px 1px 20px;
}

.productListSales{
    width: 20%;
    float:left;
    margin-left: 10px;
}
.verticalMenu {
    height: 70vh;
    overflow-y: auto;
}
.productListSales table tr td img{
    width:60px;
    height: 40px;
}
.trSales:hover{
    background-color:#b8d1f3 !important;
    /*cursor: pointer !important;*/
}
.productListSales table tr td button{
    cursor: pointer !important;
}
.btnFinalizePurchase{
    width:100%;
}
.ulSalesList{
    align-content: center;

}
.ulSalesList{
    margin-left: 20px;
}

.btnRemoveProductSale{
    display:inline;
    border:0.1em solid #FFFFFF;
    border-radius:1px;
    box-sizing: border-box;
    text-: bold;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color:#b81010;
    margin-left:3%;
}
.btnRemoveProductSale:hover {
    color:#FFFFFF;
    background-color:#4e0101;
    cursor:pointer;
}


/*fim de create new sale*/



/*tabela de produtos*/
.productList{
    margin-top:10%;
    width:100%;
    text-align: center;
}


.inventoryTable{
    width: 100%;
    border-collapse: collapse;
    text-align: center;

}
#thTitleInventory{
    background-color:#1f4287!important;
    color:white;
    border-radius:5px 5px 0 0;
}
table.inventoryTable td, table.inventoryTable th {
    /*border: 1px solid #555555;*/
    padding: 5px 10px;

}
table.inventoryTable th{
    background-color:#278ea5;
    color:#FFFFFF;

}
table.inventoryTable tr:nth-child(even) {
    background: #e6ecff;
  }

.navbar-top a{


    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar-top a:hover, .navbar-drop:hover {
    background-color: #555;
    color: white;
}

.navbar-drop.name_user {

    overflow: hidden;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 40px;
    z-index: 1;
    right: 0;
}

.dropdown-content.dropdown-item{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {
    background-color: #636b6f;
    color: black;


}

.navbar-drop:hover .dropdown-content {
    display: block;
}

/* fim do css da navbar */




/*inicio do css da pagina de login */
.form-login{

    position: relative;
    margin: 3% auto;
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
}


.form-login .header{

    text-align: center;
    font-weight: 200;
    font-size: 2em;
    margin-top: 10px;
    color: #34495e;
    margin-bottom: 10px;
}

.form-login .login-input{


    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 85%;
    border: none;
    padding: 20px;
    font-size: 14px;

}
.form-login .login-input .form-control{

    width: 100%;



}
#remember {
    width: 5%;
    float:left;
}
.form-check{
    width:80%;
}
.btn-link {
    color: #000000;
    text-decoration: none;

}

.form-login button{

    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;

    margin-top: 15px;
    margin-bottom: 15px;
}


.form-login button:hover {

    background: #43A047;

}


/*fim do css da pagina de login*/

/*Inicio do css da pagina dos fornecedores */

#formAddFornecedor {

    height: 100px;
    width:100%;
    margin-left: auto;

}
#formAddCliente {

    height: 170px;
    width:100%;
    margin-left: auto;

}

#formAddCliente .divColumnAddFornecedor{

    width:15%;
    float:left;
    padding:1% 2% 1% 2%;
    color:white;
    margin-bottom: 100px;

}

#formAddFornecedor .divColumnAddFornecedor{


    width:15%;
    float:left;
    padding:1% 2% 1% 2%;
    color:white;
    margin-bottom: 100px;
}

/*editar fornecedores*/
.form-editFuncionario{

    position: relative;
    margin: 3% auto;
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;


}

.form-editFuncionario .titulo{

    text-align: center;
    font-weight: 200;
    font-size: 2em;
    margin-top: 10px;
    color: #34495e;
    margin-bottom: 10px;

}


.form-editFuncionario .divColumnAddFornecedor{

    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 85%;
    border: none;

    font-size: 14px;
}


.form-editFuncionario #btnAddFuncionario{


    font-family: "Roboto", sans-serif;
    text-transform: uppercase;

    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;

    margin-top: 15px;
    margin-bottom: 15px;


}

.form-editFuncionario .inFuncionario{

    margin: auto;
    margin-bottom: 10px;



}

.form-editFuncionario .formEdits{

    text-align: center;



}

.pagination{


}
.pagination li{


    display: inline-block;

    margin-top: 10px;

    border: solid 2px rgb(31, 66, 135);

    padding: 2px;

    background: rgb(31, 66, 135);
    color: white;

}
.pagination li:hover{

    background: #227dc7;


}

.pagination a {
    text-decoration: none;
    color: white;
}

.pagination .active{


    background: #227dc7;
    color: white;
    border: solid 2px  #227dc7;
}





